.tm_properties
.DS_Store
*.swp
*.test
*.so
.vscode/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# build artifacts
axmldec
libminizip.a